<div class="widget text-container" id="text-container-02"><strong class="heading4 widget-title">CyberMist from MistNet</strong>
    <div class="description"><p class="fz-to-xlarge tcenter">CyberMist is the first AI-driven platform providing complete visibility across user, host, and network with the ability to expose and block threats in real-time.</p>
        <div class="infographics">
            <div class="columns item">
                <div class="column -w-3-in-lvl2 item-graphic print-exclude">
                    <picture>
                        <source type="image/webp" data-srcset="/wp-content/uploads/assets/01.webp">
                        <source data-srcset="/wp-content/uploads/assets/01.png">
                        <img class="lazyload center" data-src="/wp-content/uploads/assets/01.png" alt="Chronometer"></picture>
                </div>
                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Instant Visibility</strong>
                    <p>Installs in less than one hour with immediate visibility into user, host, and network enterprise-wide</p></div>
                <div class="column -w-3-in-lvl2 padding-base-y item-line print-exclude">
                    <div class="line"></div>
                </div>
            </div>
            <div class="columns item -odd">
                <div class="column -w-3-in-lvl2 item-graphic -order-2-in-lvl2 print-exclude">
                    <picture>
                        <source type="image/webp" data-srcset="/wp-content/uploads/assets/02.webp">
                        <source data-srcset="/wp-content/uploads/assets/02.png">
                        <img class="lazyload center " data-src="/wp-content/uploads/assets/02.png" alt="Pie chart"></picture>
                </div>
                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Cognitive Detection</strong>
                    <p>AI continuously learns enterprise environment reducing false positives by 90% while providing the most complete threat detection coverage available</p></div>
                <div class="column -w-3-in-lvl2 padding-base-y item-line -order--1-in-lvl2 print-exclude">
                    <div class="line"></div>
                </div>
            </div>
            <div class="columns item">
                <div class="column -w-3-in-lvl2 tcenter item-graphic print-exclude">
                    <picture>
                        <source type="image/webp" data-srcset="/wp-content/uploads/assets/03.webp">
                        <source data-srcset="/wp-content/uploads/assets/03.png">
                        <img class="lazyload center " data-src="/wp-content/uploads/assets/03.png" alt="Shield"></picture>
                </div>
                <div class="column -w-6-in-lvl2 padding-base-y no-padding-bottom item-content"><strong>Dependable Defense</strong>
                    <p>Autonomously blocks attacks and attackers before they breach your data</p></div>
                <div class="column -w-3-in-lvl2 padding-base-y item-line print-exclude">
                    <div class="line"></div>
                </div>
            </div>
            <div class="columns item -odd -last">
                <div class="column -w-3-in-lvl2 item-line -order--1-in-lvl2 print-exclude">
                    <div class="line"></div>
                </div>
                <div class="column -w-3-in-lvl2 item-graphic -order-2-in-lvl2 print-exclude">
                    <picture>
                        <source type="image/webp" data-srcset="/wp-content/uploads/assets/04.webp">
                        <source data-srcset="/wp-content/uploads/assets/04.png">
                        <img class="lazyload center" data-src="/wp-content/uploads/assets/04.png" alt="Simple random sample"></picture>
                </div>
                <div class="column -w-6-in-lvl2 item-content padding-base-y"><strong>Effective Hunting</strong>
                    <p>Explore and playback enterprise-wide user, host and network activity and use AI to simplify compliance audits and accelerate investigations</p></div>
            </div>
        </div>
    </div>
</div>